# git ignore file
Thumbs.db
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
.vs/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*

packages/
/TestResults/
bin/
obj/
*.nupkg
*.suo
*.tmp
*.user
*.dotCover
_Resharper.*
*.vspscc
*.vssscc
*.dll*
*.Publish.xml
!NuGet.exe

# NCrunch files to exclude
_NCrunch_*/
*.ncrunchsolution
*.ncrunchproject
*.cache
*.user

# DotCover files to exclude
*.DotSettings
